body {
  margin: 0px;
}

h1 {
  text-decoration-color: #fefedf;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: -25px;
  margin-left: 35px;
  margin-top: -100px;
  margin-bottom: -50px;
  text-decoration-color: #dfdf66;
}

h4 {
  text-align: center;
  color: rgb(10, 118, 126);
}

#weather-description {
  font-size: 30px;
  text-transform: capitalize;
  color: rgb(199, 181, 20);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.full-page {
  font-family: "Source Sans Pro";
  border: 6px dotted rgb(157, 223, 240);
  border-radius: 80px;
  width: 1295px;
  height: 1295px;
  background: linear-gradient(rgb(226, 253, 246), snow);
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  height: 300px;
  background: #fff;
}

.col-6 input {
  position: relative;
  display: block;
  margin: 0 auto;
  text-decoration-color: rgb(91, 179, 91);
  width: 250%;
  max-width: 650px;
  padding: 15px 20px;
  border: 4px solid rgb(226, 107, 63);
  border-radius: 30px;
  color: rgb(91, 179, 91);
  font-size: 35px;
  font-weight: 300;
  transition: 200ms ease-in-out;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

.col-8 input {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200%;
  max-width: 150px;
  padding: 15px;
  border: 4px solid rgb(48, 151, 74);
  border-radius: 50%;
  color: rgb(50, 143, 50);
  text-decoration: underline;
  background-color: rgb(238, 248, 240);
  font-size: 30px;
  font-weight: 300px;
  transition: 200ms ease-in-out;
  margin-top: -90px;
  margin-left: 900px;
  margin-right: 200px;
  margin-bottom: 35px;
}

.card-border {
  border: 25px solid green;
  border-radius: 90px;
  margin-top: 150px;
  margin-left: 650px;
  display: block;
  margin: 0 auto;
  width: 600%;
}

.card-header {
  color: rgb(64, 240, 88);
  text-align: center;
  font-size: 30px;
}

.card-city {
  text-transform: capitalize;
  color: rgb(73, 185, 185);
  font-weight: bold;
  font-size: 25px;
}

.card-text {
  font-size: 23px;
  color: rgb(27, 165, 124);
  font-weight: bold;
  text-align: center;
}

.tittle-forecast {
  font-size: 65px;
  margin-top: 40px;
  color: rgb(56, 182, 134);
}

.enter-location {
  font-size: 60px;
  margin-top: -65px;
  margin-bottom: 25px;
  margin-right: 25px;
  font-weight: italic;
  color: rgb(30, 184, 211);
}

.date {
  text-align: center;
  color: rgb(10, 118, 126);
  font-size: 30px;
  font-weight: bold;
}

.location {
  position: relative;
  bottom: 310px;
  left: 1080px;
  cursor: pointer;
}

.temperature {
  color: rgb(175, 91, 13);
  text-align: center;
  font-size: 30px;
}

.active {
  color: rgb(175, 91, 13);
  cursor: default;
  text-align: center;
  font-size: 30px;
}

.fahrenheitT {
  color: rgb(175, 91, 13);
  text-align: center;
  font-size: 30px;
}

.pre {
  color: rgb(109, 240, 120);
}

.hum {
  color: rgb(109, 240, 120);
}

.win {
  color: rgb(109, 240, 120);
}

.weather-forecast {
  display: block;
  margin: 0 auto;
  margin-left: 180px;
  text-align: center;
}

.code-márcia {
  font-weight: bold;
}
